<div class="employers-list">
    <h2>Employers</h2>
    <div class="employers-table">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Role Id</th>
                    <th>Email</th>
                    <th>phone No</th>
                    <th>Address</th>
                    <th>Nationality</th>
                    <th>company</th>
                    <th>Sector</th>
                    <th>Company Address</th>
                    <th>Company Size</th>
                </tr>
            </thead>
            <tbody #table>
                
            </tbody>
        </table>
    </div>
</div>