<div class="graduates-list">
    <h2>Graduates</h2>
    <div class="graduates-table">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Role Id</th>
                    <th>Email</th>
                    <th>phone No</th>
                    <th>college</th>
                    <th>college Address</th>
                    <th>skills</th>
                    <th>project</th>
                    <th>gender</th>
                    <th>DOB</th>
                    <th>Address</th>
                    <th>Nationality</th>
                </tr>
            </thead>
            <tbody #table>
                
            </tbody>
        </table>
    </div>
</div>