<h1>Employer Profile</h1>
<div class="employer-details">
    <div class="employer-info">
        <div class="header">
            <div class="name">
                <i class="fa-regular fa-user"></i>
                <h3>{{userName}}</h3>
            </div>
            <div class="btn">
                <button>Remove Employer</button>
            </div>
            
        </div>
        <hr>
        <div class="all-details">
            <div class="details">
                <i class="fa fa-id-badge"></i>
                <div class="d1">
                    <h4>Role Id</h4>
                    <p>{{roleId}}</p>
                </div>
            </div>
            <div class="details">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <div class="d1">
                    <h4>Email</h4>
                    <p>{{userMail}}</p>
                </div>
            </div>
            <div class="details">
                <i class="fa-solid fa-mobile"></i>
                <div class="d1">
                    <h4>Phone No</h4>
                    <p>{{phoneNo}}</p>
                </div>
            </div>
            <div class="details">
                <i class="fa-solid fa-location-dot"></i>
                <div class="d1">
                    <h4>address</h4>
                    <p>{{address}}</p>
                </div>
            </div>
            <div class="details">
                <i class="fa-solid fa-globe"></i>
                <div class="d1">
                    <h4>Nation</h4>
                    <p>{{nationality}}</p>
                </div>
            </div>
            <div class="details">
                <i class="fa-solid fa-city"></i>
                <div class="d1">
                    <h4>company</h4>
                    <p>{{company}}</p>
                </div>
            </div>
            <div class="details">
                <i class="fa-solid fa-location-dot"></i>
                <div class="d1">
                    <h4>company Address</h4>
                    <p>{{companyAddress}}</p>
                </div>
            </div>
            <div class="details">
                <i class="fa-solid fa-industry"></i>
                <div class="d1">
                    <h4>sector</h4>
                    <p>{{sector}}</p>
                </div>
            </div>
            <div class="details">
                <i class="fa-solid fa-people-group"></i>
                <div class="d1">
                    <h4>company Size</h4>
                    <p>{{companySize}}</p>
                </div>
            </div>            
        </div>
    </div>
    <div class="jobs-info">
        <h2>Jobs Posted</h2>
        <table>
            <thead>
                <tr>
                    <th>company</th>
                    <th>Job Name</th>
                    <th>job type</th>
                    <th>salary</th>
                    <th>Company Address</th>
                    <th>description</th>
                    <th>vacancy</th>
                </tr>
            </thead>
            <tbody #table>
                
            </tbody>
        </table>
    </div>
</div>
